
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #b94f7acf;
    color: #ecebc6;
  }
  
  h1, h2, h3 {
    color: #e5e6eb;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  /* Main Container */
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  button{
    font-size:1.1rem;
    padding:8px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background:rgb(125,125,235);
    color:white;
    cursor:pointer;
    transition:0.4s;
  }
  
  button:hover{
    background:#deddde;
    box-shadow: 0px 0px 10px rgb(44, 85, 217);
    color: #000;
    font-size: larger;
    border:2px solid rgb(125,125,235);
  }
  
  /* User List */
  .user-list {
    list-style-type: none;
    padding: 0;
  }
  
  .user-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .user-list li:last-child {
    border-bottom: none;
  }
  
